body {
    margin: 0;      /*外邊距*/
    background-color: #f4f4f4;
    color: #333;
}
header {
    background-color: #a20e0e;
    padding: 15px;    
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none; 
    color: #333;
    font-size: 18px;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    font-size: 20px;
    flex-grow: 1;
    text-align: center;
}
.container {
    padding: 30px;     /*內邊距。*/
    background-color: #fff;
    margin: 20px;       
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form_group {
    margin-bottom: 20px;
}

.form_group label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #666;
}

.form_group input {
    width: 98%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form_group input[type="checkbox"] {
    width: auto;
    margin-right: 8px;
}

.form_group span {
    color: #333;
    font-size: 16px;
}

/***************set儲存鍵********************/
.btn_save {
    width: 10%;
    padding: 15px;
    background-color: #a20e0e;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}
.btn_save:hover {
    background-color: #870c0c;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
footer img {
    width: 50px;
}

/***************register.html的註冊鍵********************/

.btn_register {
    padding: 10px 20px;
    background-color: #630909;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #870c0c; /*鼠標移到按鈕位置的顏色(未按下)*/
}